body {
  margin: 0px;
  font-family: "Mali", cursive;
  /* background-image: url("15438.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100%;
}

.profile-image {
  max-width: 12rem;
  border-radius: 8px;
  position: absolute;
  top: 190px;
  left: 40%;
}

.home {
  background-image: url("94.jpg");
  background-size: cover;
  height: 250px;
  margin-left: 40px;
  margin-right: 40px;
}

h1 {
  margin-left: 35%;
  padding-top: 40px;
}

h3 {
  margin-left: 35%;
}

.txt {
  margin-left: 25%;
}

.month-label {
  margin-left: 35%;
}

.button {
  margin-left: 42%;
  background-color: #ff8095;
  padding: 8px;
  color: white;
  font-size: 20px;
  width: 250px;
  border-radius: 12px;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #008cba;
  color: white;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.month {
  width: 15%;
  padding: 16px 20px;
  margin: 8px 0;
  background-color: #f1f1f1;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: #008cba;
}

/* #month:focus {
  background-color: #ff8095;
} */

body {
  font-size: 15px;
  line-height: 1;
  font-family: "Mali", cursive;
}

/* .button {
  background: coral;
  padding: 1em 2em;
  color: white;
  border: 0;
}

.button:hover {
  background: gray;
} */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin-top: 40px;
  margin-left: 25%;
  margin-bottom: 30px;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 regb(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: #ff8095;
  padding: 20px;
  color: white;
  font-size: 16px;
}

.modal-body {
  padding: 5px 10px;
}

.modal-footer {
  background: #ff8095;
  padding: 10px;
  color: white;
  text-align: center;
}

.closeBtn {
  color: white;
  float: right;
  font-size: 30px;
  margin-top: 0px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row {
  margin: 20px;
  margin-right: 60px;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  cursor: pointer;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px;
  background-color: #f1f1f1;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#reasons:invalid {
  color: #999;
}

#reasons {
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 580px;
  cursor: pointer;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px;
  background-color: #f1f1f1;
  border-radius: 4px;
  outline: none;
}
form label {
  margin-left: 0px;
}

.error-block {
  display: block;
  margin-left: 0px;
  font-size: 10px;
  font-weight: bold;
  color: red;
}

#agree {
  margin-left: 20px;
  font-size: 5px;
}

input[type="checkbox"] {
  margin-right: 1px;
  height: 13px;
  width: 20px;
  margin-left: 60px;
  border-radius: 40%;
  width: 21px;
}

#btn {
  background-color: #008cba;
  width: 80%;
  float: middle;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 70px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 20px;
}
