@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background: #eee;
    font-family: 'Ubuntu', sans-serif
}

ul,
li {
    list-style: none;
}

.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.our-services {
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 0 38px;
    line-height: 32px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

.our-services:hover h4,
.our-services:hover p {
    color: #fff
}

.settings:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    /* background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%) */
    background-color: #FF8095;
}

nav {
    background-color: #FF8095;
}