
        body {
            margin: 0px;
            background-color:  #fff;
            background-image: url("/assets/images/4584.jpg");
            background-position: top left;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .display-5 {
            margin-top: 450px;
            color: #ff8095;
           
        }

        .container {
            display: flex;
            font-family: "Roboto", sans-serif;
            justify-content: space-between;
            margin-top: 40px;

        }

        .form-control {
            border: 4px solid #ff8095;
        }

        .first-container {
          width: 500px;
          height: 500px;
          margin-left: 20px;
          text-align: center;
                  }

          .second-container {
          margin-top: 0px;
          
        }

        /* #button{
 width: 260px;
 color: white;
 background-color: #ff8095;
 padding: 10px;
 margin-top: 20px;
 margin-left: 50px;
} */

#button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ff8095;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  padding: 9px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 80px;
  margin-top: 30px;
}

#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}

#female {
    margin-left: 180px;
}

#check {
    margin-top: 20px;
    width: 100%;
}
form{
    width: 350px;
    margin-right: 10px;
    margin-top: 0px;
    }


         /*
        .first-container p{
            height: 200px;
            width: 400px;
            font-size: 40px;
            text-align: justify;
            margin-left: 50px;
            color: #FFF;
        }
        .first-container h2 {
            margin-left: 50px;
            color: #FFF;
        }    

        .second-container {
            background-color:#FFF;
            color:#000;
            line-height: 30px;
            margin-left: 15px;

        }
        .second-container input{
            height: 25px;
            width: 350px;
        }
        .second-container label{
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1{
            margin-top: 100px;
            margin-left: 50px;
            font-size: 4.5rem;
            color:#FFF;
            padding-bottom: 40px;
        }
        h3{
            font-size: 30px;
            text-align: center;
            color: #000;

        }
        .sign-up{
            height: 30px;
            width: 100px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: #000;
            margin-left: 50%;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            background-color: #FF8095;

        }
     */